.intro {
	margin-bottom: 50px;

	background-image: url(../img/bg/bg-intro.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
}

.intro__container {
	padding-top: 145px;
	padding-bottom: 145px;
}

.intro__title {
	margin-top: 0;
	margin-bottom: 20px;
}

.intro__subtitle {
	margin-bottom: 90px;
}

@media (min-width: 480px) {
	.intro__container {
		padding-top: 240px;
		padding-bottom: 245px;
	}

	.intro__subtitle {
		padding-right: 230px;
		margin-bottom: 65px;
	}
}

@media (min-width: 768px) {
	.intro__title {
		padding-right: 150px;
	}

	.intro__subtitle {
		padding-right: 530px;
	}
}

@media (min-width: 1080px) {
	.intro__container {
		text-align: center;
	}

	.intro__title {
		padding-right: 0;
		width: 440px;
		margin: 0 auto 15px auto;
	}

	.intro__subtitle {
		padding-right: 0;
		width: 245px;
		margin: 0 auto 67px auto;
	}
}