.feedback {
	overflow: hidden;
	margin-top: 25px;
}

.feedback .container {
	position: relative;
	padding-bottom: 295px;
}

.feedback .container::after {
	content: "";
	position: absolute;
	bottom: 0;
	z-index: -1;

	width: 606px;
	height: 500px;

	background-repeat: no-repeat;
	background-size: cover;
	margin-left: -20px;

	background-image: url(../img/bg/bg-feedback.png);
}

.feedback__title {
	text-align: center;
	margin-bottom: 40px;
}

.feedback__form {
	background-color: #fff;
	padding: 15px;
	border-radius: 10px;
}

.feedback__list li {
	margin-bottom: 20px;
}

.feedback__list li:last-child {
	margin-bottom: 0;
}

.feedback__list textarea,
.feedback__list input {
	width: 248px;
	padding: 15px 20px;
	margin: 0;
	outline: 1px solid #968f80;
	border-radius: 5px;
	border: none;
}

.feedback__list textarea {
	height: 130px;
	resize: none;
}

.feedback__list textarea:focus-visible,
.feedback__list input:focus-visible {

	outline: 2px solid #f5710c;
}

.feedback__list input[type=submit] {
	outline: none;
	width: 100%;
	padding: 20px 0;
}

@media (min-width: 480px) {
	.feedback {
		margin-top: 15px;
	}

	.feedback__form {
		padding: 20px;
	}

	.feedback__list textarea,
	.feedback__list input {
		width: 358px;
	}
}