.photo {
	background-color: #fff;
	margin-top: 50px;
	padding-top: 25px;
	padding-bottom: 55px;
}

.photo__title {
	margin-top: 30px;
	margin-bottom: 15px;
}

.photo__subtitle {
	margin-bottom: 70px;
}

.photo__wrapper {
	margin-top: -40px;
}

.photo .swiper-slide {
	overflow: hidden;
	text-align: center;
}

.photo__wrapper img {
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
	border-radius: 10px;
	width: 320px;
	height: 320px;
}

@media (min-width:480px) {
	.photo__wrapper img {
		width: 440px;
		height: 440px;
	}
}

@media (min-width: 768px) {
	.photo {
		padding-bottom: 45px;
	}

	.photo__title {
		margin-top: 15px;
	}

	.photo__subtitle {
		margin-bottom: 60px;
	}

	.photo__wrapper {
		margin-top: -15px;
	}

	.photo__wrapper img {
		width: 425px;
		height: 425px;
	}
}

@media (min-width: 1080px) {
	.photo {
		padding-bottom: 45px;
		padding-top: 45px;
	}

	.photo__title {
		margin-top: 0;
		margin-bottom: 30px;
	}

	.photo__subtitle {
		margin-bottom: 50px;
	}
}