.contact {
	margin-top: 105px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column-reverse;
}

.contact .container {
	background-color: #fff;
	border-radius: 10px;
	margin-bottom: 10px;
}

.contact__title {
	margin-top: 35px;
	padding-left: 20px;
	margin-bottom: 0;
}

.contact__list {
	padding: 20px 20px 15px 20px;
	font-size: 18px;
}

.contact__list li {
	margin-bottom: 30px;
	margin-left: 45px;
	position: relative;
}

.contact__list li::after {
	position: absolute;
	content: '';
	width: 25px;
	height: 25px;
	background-repeat: no-repeat;
	background-size: contain;
}

.contact__list li::after {
	position: absolute;
	content: '';
	width: 25px;
	height: 25px;
	background-repeat: no-repeat;
	background-size: contain;
	top: 0;
	left: -45px;
}

.contact__list li:nth-child(1):after {
	background-image: url(../img/address.svg);
}

.contact__list li:nth-child(2):after {
	background-image: url(../img/phone.svg);
}

.contact__list li:nth-child(3):after {
	background-image: url(../img/email.svg);
}

.contact__list p {
	margin: 0;
}

p.contact__text {
	margin-bottom: 10px;
}

@media (min-width: 480px) {

	.contact__title {
		padding-left: 40px;
	}

	.contact__list {
		padding: 25px 37px 15px 40px;
		font-size: 22px;
	}
}