.about-us {
	overflow: hidden;
}

.about-us .container {
	position: relative;
}

.about-us .container::after {
	content: "";
	position: absolute;
	bottom: 0;
	z-index: -1;

	width: 606px;
	height: 500px;

	background-repeat: no-repeat;
	background-size: cover;
}

.about-us .container:first-child::after {
	margin-left: -20px;

	background-image: url(../img/bg/bg-about-us-1.png);
}

.about-us .container:last-child::after {
	right: -20px;

	background-image: url(../img/bg/bg-about-us-2.png);
}

.about-us h2 {
	margin-top: 0;
}

.about-us__table {
	margin-top: 25px;
	margin-bottom: 65px;
	padding-bottom: 270px;

	text-align: center;
}

.about-us .container:last-child .about-us__table {
	margin-bottom: 45px;
}

.about-us__table th {
	width: 120px;

	font-weight: normal;
	font-size: 55px;
	font-family: "Philosopher", sans-serif;
}

.about-us__table td {
	vertical-align: top;
}

@media (min-width: 480px) {

	.about-us__table {
		padding-bottom: 290px;
		margin-top: 40px;
		margin-bottom: 80px;
	}

	.about-us__table th {
		width: 155px;
		font-size: 70px;
	}
}

@media (min-width: 768px) {
	.about-us .container:last-child {
		padding-top: 35px;
	}

	.about-us .container::after {
		width: 670px;
		height: 550px;
		top: 0;
	}

	.about-us .container:first-child::after {
		left: 380px;
	}

	.about-us .container:last-child::after {
		background-image: url(../img/bg/bg-about-us-2-table.png);
		right: 375px;
	}

	.about-us__text {
		width: 550px;
	}

	.about-us .container:last-child .about-us__text {
		padding-left: 185px;
	}

	.about-us__table {
		margin-bottom: 60px;
		padding-bottom: 0;
	}

	.about-us .container:last-child .about-us__table {
		padding-left: 185px;
	}

	.about-us__table th {
		width: 155px;
	}
}

@media (min-width: 1080px) {
	.about-us .container:last-child {
		padding-top: 20px;
	}

	.about-us .container::after {
		width: 865px;
		height: 600px;
		top: 0;
	}

	.about-us .container:first-child::after {
		left: 595px;
	}

	.about-us .container:last-child::after {
		background-image: url(../img/bg/bg-about-us-2.png);
		top: -55px;
		right: 590px;
	}

	.about-us__text {
		width: 490px;
	}

	.about-us .container:last-child .about-us__text {
		padding-left: 500px;
	}

	.about-us .container:last-child .about-us__table {
		padding-left: 500px;
		margin-bottom: 90px;
	}


}